
header{
    position: fixed;
    z-index: 10003;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
header *{
    color: black!important;
}
header .cls-1{
    fill: #e71469;
}
header .logoText{
    color: #e71469!important;
}
header > .wrap{
    padding: 0;
}
.headerMenu li a:hover{
    color: #e71469!important;
}



section.communityQuickMenus{
    z-index: 100;
    margin-top: 70px;
    background-color: #e71469;
    background-image: none;
    padding: 0.5rem 0.8rem;
}

section.communityQuickMenus > .guideLine > div{
    float: right;
    transform: translateY(2.5px);
}
section.communityQuickMenus .title{
    font-size: 15px;
    font-weight: 600;
}
section.communityQuickMenus .list{
    display: none;
}
section.communityQuickMenus .list *{
    cursor: pointer;
    text-overflow: ellipsis;
    color: white;
}
section.contents{
    position: relative;
    background-color: #eeeeee;
}
section.communityQuickMenus #isFavor{
    cursor: pointer;
    transform: translateY(1px);
    display: none;
    height: 18px;
    margin-right: 5px;
}
section.communityQuickMenus #communityName{
    transform: translateY(8px);
    color: white;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    float: left;
    text-align: left;
    width: 60%;
    height: 24px;
}
section.communityQuickMenus .quickBtn >*{
    float: right;
}

section.communityQuickMenus .quickBtn .list{
    display: none;
    max-width: 140px;
}

section.communityQuickMenus .quickBtn .list *{
    overflow: hidden;
    text-overflow: ellipsis;
}








.contents>.guideLine{
    min-height: 1000px;

}
.contents>.guideLine>.content{
    margin: 50px 0 50px 0;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}
.content>.description{
    font-size: 17px;
    font-weight: 600;
    text-align: left!important;
    margin:0!important;
    margin-bottom: 5px!important;
}
.content>.postList>.post{
    cursor: pointer;
    border-bottom: 1px solid #e9e9e9;
    padding: 8px 0 8px 0;
}
.content>.postList>.post:nth-last-child(1){
    border-bottom: none;
}
.content>.postList>.post:hover{
    box-shadow: 5px 5px 5px #00000033;
}






.post>.mInfo{
    display: inline-block;
    text-overflow: ellipsis;
    width: 93%;
    text-align: left;
}
#notices .mInfo{
    width:100%;
}
.mInfo>.titles{
    font-size: 0.9rem;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}
.mInfo>.nickname{
    font-size: 0.8rem;
    color: #5e5e5e;
}
.mInfo>.date{
    color: #5e5e5e;
    font-size: 0.8rem;
    float:right;
}



.post>.sInfo{
    display:inline-block;
    width:5%;
    float:right;
    font-size: 0.8rem;
}
.sInfo img{
    transform: translateY(3px);
    height: 15px;
}

.sInfo>.recommandNum{
    color: #e71469;
}
.content .options{
    padding-right: 15px;
    text-align: right;
}

.options>*{
    cursor: pointer;
    background-color: #e71469;
    border: none;
    color: white;
    display: inline-block;
    font-size: 15px;
}

.options .moreLoadBtn{
    float: left;
}

#searchInput{
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #e9e9e9;
}
.polaroid{
    height: 265px!important;
}



@media(max-width: 450px){

    section.communityQuickMenus{
        margin-top: 45px;
    }
    .post>.mInfo{
        width:inherit!important;
        max-width: 300px;
        overflow: hidden;
    }
    .post>.mInfo>.date{
        float:none;
        display: none;
    }
    .post>.sInfo{
        width:inherit;
        min-width: 50px;
    }

}

@media(max-width: 350px){
    .post>.mInfo{
        width:inherit!important;
        max-width: 240px;
        overflow: hidden;
    }

}