
header{
    position: fixed;
    z-index: 10003;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
header *{
    color: black!important;
}
header .cls-1{
    fill: #e71469;
}
header .logoText{
    color: #e71469!important;
}
header > .wrap{
    padding: 0;
}
.headerMenu li a:hover{
    color: #e71469!important;
}



section.initial{
    height: 0;
}

section.contents{
    background-size: 100% auto;
    z-index: 10000;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
}

section.contents>.wrap{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin: 100px 0 50px 0;
    padding: 30px;
    min-height: 800px;
}
section.contents>.wrap>*{
    text-align: left;
}

section.contents>.wrap>.desc>#gtitle{
    font-size: 1.3rem;
    font-weight: 600;
}
section.contents>.wrap>.desc>#gplatform{
    font-size: 1rem;
    font-style: italic;
    color: #a6a6a6;
}
section.contents>.wrap .gameVideo{
    width: 100%;
    height: 475px;
}

.subtitle{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.options{
    text-align: center!important;
}
.options > .option{
    display:inline-block;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #e9e9e9;
    background-color: white;
    margin: 15px;
    width: 95px; height: 85px;
    transition-property: background-color;
    transition-duration: 0.4s;
    
    border-radius: 10px;
    text-align: center;
}
.options > .option:hover{
    background-color: #e9e9e9;
}
.options > .option>*{
    transform: translateY(3px);
}
.options > .option> img{
    margin: 5px;
    margin-bottom: 5px;
    width: 30px; height: 30px;
}
.options > .option> .explain{
    transform: translateY(12px);
    font-size: 0.7rem;
}


.justSquare{
    
    display: inline-block;
    width: 0.5rem;
    height: 22px;
    background-color: #e71469;
    margin-right: 8px;
    transform: translateY(3px);
}

#reviews> .content> .review{
    border-bottom: 1px solid #e9e9e9;
    display: inline-block;
    width: 75%;
    cursor: pointer;
}

#reviews> .content> .review> .userName{
    margin: 5px 0 5px 0;
    font-size: 1rem;
    color: #666666;
}
.popupContents .reviewWrapper{
    padding: 10px;
}
.popupContents .reviewWrapper > .reviewBody{
    display: inline-block;
    width: 100%;
    height: auto;
}
.popupContents .reviewWrapper *{
    text-align: left;
}
.popupContents .reviewWrapper> .userName{
    margin: 5px 0 5px 0;
    font-size: 1rem;
    color: #666666;
    transform: translateY(30px);
    width: 77%;
}
.popupContents .reviewWrapper> .infos{
    text-align: right;
    font-size: 1.1rem;
}
.popupContents .reviewWrapper> .infos> span{
    cursor: pointer;
}
.popupContents .reviewWrapper> .infos> span> img{
    width: 15px;
    height: 15px;
}
.popupContents .reviewWrapper> .infos> span> .good{
    color: #e71469;
}

.popupContents .reviewWrapper> .infos> span> .bad{
    color: #e71469;
}

#commentInput{
    box-sizing: border-box;
    width: 100%; height: 200px;
    font-size: 1.1rem;
    padding: 10px;
    animation: glare 1s infinite;
}
footer{
    margin: 0;
    transform: translateY(0);
}



@media(max-width: 450px){
    section.contents>.wrap{
        padding: 0.5rem;
        margin-top: 150px;
    }
            
    section.contents>.wrap .gameVideo{
        height: 250px;
    }
    .options > .option{
        display:inline-block;
        padding: 5px;
        width: 75px; height: 68px;
        cursor: pointer;
        border: 1px solid #e9e9e9;
        background-color: white;
        margin: 5px;

        transition-property: background-color;
        transition-duration: 0.4s;
        
        border-radius: 10px;
        text-align: center;
    }
        
    .options > .option> img{
        margin: 5px;
        margin-bottom: 5px;
        width: 23px; height: 23px;
    }
    .options > .option> .explain{
        transform: translateY(12px);
        font-size: 0.8rem;
    }
    .summary{
        overflow: hidden;
    }

}