body{
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.contents{
    top: 0;
    z-index: 10000;
    background-color: #f1f1f1;
}

.contents >.wrap{
    text-align: center;
}
.contents> .wrap > a >.description{
    margin-top: 0;
    display: inline-block;
    min-width: 300px;
    width:35%;
    height: auto;
    margin-bottom: 50px;
}
.contents> .wrap > a> .description> .title{
    font-weight: 700;
}
.contents > .wrap img{
    width: 100%;
}
.contents > .wrap > .loginBox{
    text-align: center;
}
.loginBox input{
    border: 2px solid #cacaca;
    display: inline-block;
    font-size: 1rem;
    width:40%;
    min-width: 350px;
    padding: 12px 16px;

    margin-bottom: 16px;
}
#startLoginBtn, #googleLoginBtn{
    min-width: 350px;
    width: 40%;
    height: 40px;
    background-color: #e61469;
    border: none;
    margin-top: 15px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
#googleLoginBtn{
    opacity: 0.8;
}

.options{
    text-align: center;
}
.options .rememberToken{
    cursor: pointer;
    text-align: left;
    display: inline-block;
    min-width: 350px;
    width:40%;
}
.options .rememberToken img{
    width: 20px;
    height: 20px;
    transform: translateY(-5px);
}
.options .rememberToken .explain{
    display: inline-block;
    transform: translateY(-10px);
    font-size: 0.8rem;
}
.options .accounts{
    padding-top: 10px;
    border-top: 1px solid #cacaca; 
    display: inline-block;
    min-width: 350px;
    width:40%;
}
.options .accounts a{
    color: black;
    text-decoration: none;
}
.options .accounts a p{
    float: left;
    width: 33%;
    font-size: 0.8rem;
}
footer{
    height: 0;
}

