
header{
    background-color: white;
}
header *{
    color: black!important;
}
header .cls-1{
    fill: #e71469;
}
header .logoText{
    color: #e71469!important;
}
header > .wrap{
    padding: 0;
}
.headerMenu li a:hover{
    color: #e71469!important;
}





section.initial{
    top: 60px;
    height: 0;
    background-color: #1f1f1f;
    background-image: none;
}
section.initial > #communityName{
    font-size: 45px;
    font-weight: 700;
}



section.initial + *{
    top: 70px;
    z-index: 10000;
    background-color: #eeeeee;
}
section.contents{
    margin-top: 50px;
}
section.contents>.guideLine>.content{
    margin: 50px 0 50px 0;
    padding: 15px;
    background-color: white;
}

hr{
    background-color: #e71469;
    border: none;
    border-top: 3px solid #e71469;
    color: #e71469;
    margin: 12px 0 12px 0;
}
.comments hr{
    margin: 0;

}
.content>.description .justSquare{
    margin-right: 5px;
    width: 8px;
    transform: translateY(5px);
}

.postBody>.titles{
    font-size: 18px;
    margin-bottom: 8px;
}
.postBody>.nickname, .postBody>.info{
    font-size: 12px;
    color: #444444AA;
}
.postBody>.msg{
    margin-top: 12px;
    border-top: 1px solid #b9b9b9;
}

.postBody *{
    max-width: 100%;
}
.postBody> .options{
    text-align: center;
}
.postBody> .options > .option{
    display:inline-block;
    width: 60px;
    height: auto;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #e9e9e9;
    background-color: white;
    margin: 10px;
    box-sizing: content-box;

    transition-property: background-color;
    transition-duration: 0.4s;
    
    border-radius: 10px;
}
.postBody> .options > .option:hover{
    background-color: #e9e9e9;
}
.postBody> .options > .option>*{
    transform: translateY(3px);
}
.postBody> .options > .option> img{
    margin: 5px;
    margin-bottom: 5px;
    width: 30px; height: 30px;
}
.postBody> .options > .option b{
    display: block;
}
.postBody> .options > .option> .explain{
    text-align: center;
    transform: translateY(12px);
    font-size: 12px;
}

.error{
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.error img{
    width: 300px;
    height: 300px;
}

.invert{
    background-color: #e71469!important;
}
.invert:hover{
    background-color: #be205f!important;
}
.invert *{
    color: white;
}

.comments{
    clear: both;
}
.comment{
    padding: 10px 0 10px 0;
    cursor: pointer;
}
.subcomment{
    padding: 10px 0 10px 0;
    padding-left: 3%;
}
.subcomment>*{
    margin-left: 3%;
}
.comment> .content, .subcomment> .content{
    font-size: 15px;
}
.comment> .uName , .subcomment> .uName{
    color: #333333;
    font-size: 12px;
}
.submark{
    margin:0;
    float:left;
    font-weight: 900;
}

#commentInputs, #subInputs{
    border: 2px solid #e9e9e9;
    border-radius: 4px 0 0 4px;
    padding: 10px;
    display: inline-block;
    width: 88%;
    height: 50px;
    float: left;
    border-right: none;
}
#submitComment, #submitSubComment{
    border-radius: 0 4px 4px 0;
    display: inline-block;
    width: 12%;
    height: 50px;    
    background-color: #e71469;
    color: white;
    float: left;
    text-align: center;
    font-size: 14px;
    border: none;

    padding-top: 2px;
    cursor: pointer;
}
.controlCenter{
    text-align: right;
}
.commentFactory > *{
    margin-bottom: 15px;
}
.subFactory{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding-left: 5%;
}
.subFactory > *{
    float: right;
}
#commentSummary{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 15px;
}

.comments .controller{
    height: 0px;
    text-align: right;
}
.comments .controller .imgBtn{
    transform: translateY(-28px);
}